@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

:root{

    --color-text:#1aa7f8;
}
body{
    background: #f0f2f5;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.container{
    position: relative;
    background-color:rgba(255, 255, 255, 0.457);
    backdrop-filter: blur(2px);
    z-index: 200;
}

.container_hero{

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.67rem;
}
.nav_link{
    display: flex;
    align-items: center;

}
.list{
    display:flex;
    align-items: center;

}
.list >li {
    list-style: none;
    margin-right: 1rem;
}
.list > li > a{
    text-decoration: none;
    position: relative;
    margin: 0.40rem 0.50em;
    padding: 0.50rem 0.70rem;
    color: var(--color-text);
}
.list > li > a.active{
    width: 100%;
    color: var(--color-text);
}
.list > li > a::before{
    
   background:var(--color-text);
   content: "";
   width: 0%;
   height: 0.187rem;
   border-radius: 2rem;
   bottom: 0;
   position: absolute;
   transition: all .2s ease-in;
  
}
.list > li > .agre_active::before{
    
    background:var(--color-text);
    content: "";
    width: 100%;
    height: 0.187rem;
    border-radius: 2rem;
    bottom: 0;
    position: absolute;
    transition: all .2s ease-in;
   
 }
.list > li > a:hover::before{
    width: 100%;
}

.container .title{
    font-size: 2rem;
    margin: 0 2rem;
    font-weight: bold;
}
.notificacion{
  
    padding:2px;
    padding: 0.004;
    border-radius: 4rem;
    cursor: pointer;
    position: relative;
}
.notificacion::before{
    content:"3";
    background:red;
    padding: 1px 00.3rem;
    border-radius: 3rem;
    position: absolute;
    left: 1rem;
    top: -0.09rem;
    color: #fff;
    font-size: 13px;
    border: 1px solid #fff;
}
.notificacion i{

    color: #434444;
    font-size: 1.3rem;
    display: block;
    margin: 2px;
   
}
.main_container{

    max-width:1300px;
    border: 1px solid #1aa7f8;
    background: white;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 0px 10px .7px rgb(202, 202, 202);
    margin: 7rem auto;
    display: grid;
    grid-template-columns: 700px auto;
    padding: 2rem 0rem 2rem 3rem;


}
.first_ca{
    display: inline-block;
    
   
}
.control-label{

    display:inline-block;
    margin: 0rem 0rem 0.50rem 0rem;
}
.input-type_ca{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1aa7f8;
    border-radius: 0.20rem;
    -webkit-border-radius: 0.20rem;
    -moz-border-radius: 0.20rem;
    -ms-border-radius: 0.20rem;
    -o-border-radius: 0.20rem;
}
.xtline{
    border: 1px solid #1aa7f8;
    outline: none;
    padding:5px;
    margin: 0.40rem;
    border-radius: 0.20rem;
}
.jxrg{

    border: none;
    outline: none;
    padding:4px;
    width: 250px;
}
.input_icon i{
    display: block;
    padding:0.40rem;
    color: rgb(79, 79, 79);
    border-right: 1px solid rgb(79, 79, 79);

}
.secon-ca{
  
    width: 500px;
    margin-top: 1rem;
}
.inputs_first{

    display: flex;
    align-items: center
}
.peoduc_list_ca{

    display: block;
    margin-top: 1rem;
    margin-right: 1rem;
    border: 1px solid #929191;
    border-radius: 3px;
    box-shadow: inset  0px 0px 2px 0.4px rgb(186, 186, 186) ;
    position: relative;
}
.menu_slist{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center
}
.menu_slist >li{
    list-style: none;

}

.complete_info{

    display: flex;
    justify-content: center;
    margin-top: 1rem;

}
.pagos_list_ca{
    width: 100%;
}
.total_pago ,.pago, .pago_cambio{

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center
}
.cancel_pagos_exit{

    display:flex;
    justify-content:center;
    gap: 1rem;
    margin: 2rem 0rem 0rem 0rem;
}
.cancel_u{
    background: red ;
    border: 1px solid red ;
    padding: 6px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s ease-out;
    font-size: 1.20rem;
}
.cancel_u:hover{
    background: 
    rgb(217, 46, 46) ;
}
.save{
    background: #0ec344 ;
    border: 1px solid #0ec344;
    padding: 6px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.20rem;
    transition: 0.2s ease-out;
}
.save:hover{
    background: #0edf4c ;
}
    
