<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ther.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/fa98a09714.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://res.cloudinary.com/dkqp3wkbi/image/upload/v1656465864/kodiarLogo/logo_ytlecr.png" type="image/x-icon">

    <title>kodiar</title>
</head>
<body class="overflow-hidden">
   <header class="clas-container ">
    <div class="max-w-7xl  flex m-auto justify-between items-center">
        <div class="">
            <nav class="">
                <ul class="flex items-center">
                    <li class="mx-4  inline-block text-3xl font-bold text-blue-500"><img src="https://res.cloudinary.com/dkqp3wkbi/image/upload/v1656466485/kodiarLogo/logokodiar_bg3auh.png" alt="kodiar"></li>
                    <li><a href="/" class="my-4 mx-3   border-b inline-block text-lg hover:border-blue-400 hover:text-white duration-200 p-3 hover:bg-blue-400 hover: rounded">Inicio</a></li>
                    <li><a href="/contactanos" class="my-4 bg-blue-400  text-white mx-3 border-b inline-block text-lg hover:border-blue-400 hover:text-white duration-200 p-3 hover:bg-blue-400 hover: rounded">Contactanos</a></li>
                    <li><a href="/nosotros" class="my-4 mx-3 border-b inline-block text-lg hover:border-blue-400 hover:text-white duration-200 p-3 hover:bg-blue-400 hover: rounded">¿Quienes Somos?</a></li>
                    <li><a href="/ayuda" class="my-4 mx-3 border-b inline-block text-lg hover:border-blue-400 hover:text-white duration-200 p-3 hover:bg-blue-400 hover: rounded">Ayuda</a></li>
                </ul>
    </nav>
        </div>
        <div>
            <span><a href="/login" class="m-4 inline-block text-blue-500  rounded rounded-br-lg rounded-tl-lg text-lg p-1.5 duration-100 hover:text-blue-400">Iniciar Sesión</a></span>
            <span><a href="/registro" class="m-4 inline-block text-blue-500 border border font-medium hover:border-blue-500  rounded hover:text-blue-600 p-2 text-lg duration-100 hover:scale-105">Registrarse</a></span>

        </div>
    </div>
   </header>
  <main>
    <main class="content-ks max-w-7xl mx-auto my-12 ">

        <div class="contten-1 mk-kodiart">
         <div class="title">
             <h1 class="my-4 mx-2 text-xl font-bold">Enviar un mensaje</h1>
            </div>
             
            <div class="description">
            <article class="my-6">
            <form action="" class="shadow-2xl w-80 p-3">
                <div class="correo">
                    <input type="text" placeholder="Ingresar su correo" class="border border-1 border-gray-500 outline-none p-2 w-72 rounded rounded-3">
                </div>
                <div class="correo">
                   <textarea name="" id="" cols="20" rows="5" placeholder="Como te podemos ayudar"
                   class="border border-1 border-gray-500 outline-none outline-none p-2 w-72 rounded rounded-3 my-4"></textarea>
                </div>
                <div class="btn">
                    <button class="bg-blue-400 w-full block rounded p-1 text-white hover:bg-blue-500 duration-100">Enviar</button>
                </div>
            </form>
            </article>
            </div>
        
            
         </div>
         <div class="conten-2 ">
          <ul >
            <h2 class=" text-xl font-bold">Contactanos por medio de:</h2>
            <li class="my-4 text-gray-600"><i class="fa-solid fa-envelope"></i> kodiarEnterprese@gmail.com</li>
            <li class="my-4 text-gray-600"><i class="fa-solid fa-phone"></i> +57 3003764571</li>
            <li class="my-4 text-gray-600"><i class="fa-solid fa-location-dot"></i> Armenia-Quindío</li>
            <li class="my-4 text-gray-600"></li>
          </ul>
         </div>    
            </main>
     
  </main>

  <footer>
    <div class="fotter_fn max-w-7xl mx-auto flex justify-between border-t-2  items-center">
        <div class="text_copy">
            <p class="py-3">© Copyright 2022. Todos los derechos reservados. | Kodiar </p>
        </div>
        <div class="link_enlaces py-6">
            <a href="" class="bg-blue-700 text-white p-3 rounded rounded-full shadow-2xl"><i class=" text-xl fa-brands fa-facebook"></i></a>
            <a href="" class="bg-purple-500 text-white p-3 rounded rounded-full shadow-2xl"><i class=" text-xl fa-brands fa-instagram"></i></i></a>
            <a href="" class="bg-blue-500 text-white p-3 rounded rounded-full shadow-2xl"><i class=" text-xl fa-brands fa-twitter"></i></i></a>

        </div>
    </div>
  </footer>
</body>
</html>