<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ther.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/fa98a09714.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>kodiar</title>
</head>
<body class="overflow-hidden">
   <header class="clas-container ">
    <div class="max-w-7xl  flex m-auto justify-between items-center">
        <div class="">
            <nav class="">
                <ul class="flex items-center">
                    <li class="mx-4  inline-block text-3xl font-bold text-blue-500">KODIAR</li>
                    <li><a href="/" class="my-4 mx-3   border-b inline-block text-lg hover:border-blue-400 hover:text-white duration-200 p-3 hover:bg-blue-400 hover: rounded">Inicio</a></li>
                    <li><a href="/contactanos" class="my-4 bg-blue-400  text-white mx-3 border-b inline-block text-lg hover:border-blue-400 hover:text-white duration-200 p-3 hover:bg-blue-400 hover: rounded">Contactanos</a></li>
                    <li><a href="/nosotros" class="my-4 mx-3 border-b inline-block text-lg hover:border-blue-400 hover:text-white duration-200 p-3 hover:bg-blue-400 hover: rounded">¿Quienes Somos?</a></li>
                    <li><a href="/ayuda" class="my-4 mx-3 border-b inline-block text-lg hover:border-blue-400 hover:text-white duration-200 p-3 hover:bg-blue-400 hover: rounded">Ayuda</a></li>
                </ul>
    </nav>
        </div>
        <div>
            <span><a href="/login" class="m-4 inline-block text-blue-500  rounded rounded-br-lg rounded-tl-lg text-lg p-1.5 duration-100 hover:text-blue-400">Iniciar Sesión</a></span>
            <span><a href="/registro" class="m-4 inline-block text-blue-500 border border font-medium hover:border-blue-500  rounded hover:text-blue-600 p-2 text-lg duration-100 hover:scale-105">Registrarse</a></span>

        </div>
    </div>
   </header>
  <main>

  </main>
</body>
</html>