<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container" style="width:480px;
            margin:auto;">
             <div style="border: 5px solid #1aa7f8;
             padding: 10px;
             border-radius: 3px;
             font-family: 'Roboto', sans-serif;
             display:flex;
             flex-direction: column;
             align-items: center;
             border-radius: 10px;
             ">
           <div class="logo" >
             <img src="https://res.cloudinary.com/dkqp3wkbi/image/upload/v1656466485/kodiarLogo/logokodiar_bg3auh.png" alt="kodiar">
           </div>
           <div class="text">
             <h2 style="text-align:center ;">¡Hola, daniel Bienvenido a Kodiar</h2>
             <p style="text-align:center; display: block;">Kodiar es una aplicación de administración para el inventario de los productos de tu negocio , en la cual podras llevar un control permanente de todos ellos, necesidades de abastecimiento, reporte de vencimientos, rotación de productos y podras utilizarla para el manejo administrativo y financiero de tu negocio.
        
             <button style=" background: #1aa7f8;
             border:#1aa7f8;
             border-radius:10px;
             padding: 8px;
             display: flex;
             justify-content: center;
             align-items: center;
             color: #fff;
             width:100%;"><a href="" style="text-decoration: none; color:rgb(255, 255, 255)"> IR AL SITIO WEB</a>
             </button>
            </p>
            <p>Disfruta de nuestros servicios</p>
           </div>
         </div>
            </div>
</body>
</html>