<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>
<body>
  
<header class="container">
        <div class="container_hero">
            <div class="title">Kodiar</div>
        <div class="navegate">
            <nav class="nav_link">
                <ul class="list">
                    <li><a href="login.html">INICIAR SESION</a></li>
                    <li><a href="registro.html">REGISTRARSE</a></li>
                </ul>
            </nav>

        </div>
        </div>
    </header>
    
<body>
    <form class="login-box" >
        <h2 class="login-title">REGISTRATE</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input class="outline" type="text"name="nombre" placeholder="Usuario" />
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input class="outline" type="email" name="email" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input class="outline" type="password" name="contraseña" placeholder="Contraseña" />
        </div>
        <input class="login-button" type="submit" class="btn" value="REGISTRATE" />
      </form>
    
</body>
</html>