<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/inventario.css">
    <script src="https://kit.fontawesome.com/fa98a09714.js" crossorigin="anonymous"></script>

    <title>KODIAR</title>
</head>

<body>
    <header class="container">
        <div class="container_hero">
            <div class="title">kodiar</div>
            <div class="navegate">
                <nav class="nav_link">
                    <ul class="list">
                        <div class="notificacion">
                            <i class="fa-solid fa-bell"></i>
                        </div>
                        <li><a class="iventario cate_active" href="/dasboard">Inicio</a></li>
                        <li><a href="inventario.ejs ">Inventario</a></li>
                        <li><a href="../categorias/categorias.html">Categorias</a></li>
                        <li><a href="../agregarProducts/productos.html">Agregar</a></li>
                        <li><a href="../usuario/usuario.html">Cuenta de Usuario</a></li>
                        <li><a href="">Ajustes</a></li>
                    </ul>
                </nav>
    </header>
    <div class="caja-mayor">
        <table BORDER>
            <tr>
            <th>
                    <select name="titulos">
                    <option value="">CODIGO</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                    </select>
                </th>
            <th>
                    <select name="titulos">
                    <option value="">PRODUCTO</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                </select>
            </th>
            <th>
                    <select name="titulos">
                    <option value="">DESCRIPCION</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                </select>
            </th>
            <th>
                    <select name="titulos">
                    <option value="">STOCK INICIAL</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                </select>
            </th>
            <th>
                    <select name="titulos">
                    <option value="">ENTRADAS</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                </select>
            </th>
            <th>
                    <select name="titulos">
                    <option value="">SALIDAS</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                </select>
            </th>
            <th>
                    <select name="titulos">
                    <option value="">TOTAL</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                    <option value="">EJEMPLO</option>
                </select>
            </th>
            </tr>
        
        </table>
    </div>
</body>
</html>