<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/fa98a09714.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dkqp3wkbi/image/upload/v1656465864/kodiarLogo/logo_ytlecr.png" type="image/x-icon">

    <title>Kodiar</title>
</head>
<body> 
    <header class="container_d">
        <div class="container_hero">
            <div class="title"><img src="https://res.cloudinary.com/dkqp3wkbi/image/upload/v1656466485/kodiarLogo/logokodiar_bg3auh.png" alt="kodiar"></div>
        <div class="navegate">
            <nav class="nav_link">
                <ul class="list">
                    <li><a href="/">VOLVER</a></li>
                    <li><a href="/login">INICIAR SESION</a></li>
                    <li><a href="/registro">REGISTRARSE</a></li>
                </ul>
            </nav>

        </div>
        </div>
    </header>
    
    <form class="login-box" action="/login" method="post">
        <h2 class="login-title">INICIO SESION</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="email" placeholder="Email" name="correo" id="email"  autocomplete="on"/>
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Contraseña" name="password"/>
        </div>
        <input class="login-button" type="submit" value="INICIO SESION" class="btn solid" />

      <a href="registro.html"></a> <h3>¿No tienes una cuenta?</h3> </a>
      <br>
        
      </div>
    </form>
</body>
</html>