<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/fa98a09714.js" crossorigin="anonymous"></script>
    <title>KODIAR</title>
</head>
<body> 
    <header class="container">
        <div class="container_hero">
            <div class="title">Kodiar</div>
        <div class="navegate">
            <nav class="nav_link">
                <ul class="list">
                    <li><a href="/">INICIAR SESION</a></li>
                    <li><a href="/registro">REGISTRARSE</a></li>
                </ul>
            </nav>

        </div>
        </div>
    </header>
    
    <form class="login-box">
        <h2 class="login-title">INICIO SESION</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Usuario" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Contraseña" />
        </div>
        <input class="login-button" type="submit" value="INICIO SESION" class="btn solid" />

      <a href="registro.html"></a> <h3>¿No tienes una cuenta?</h3> </a>
      <br>
        
      </div>
    </form>
</body>
</html>