<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="https://kit.fontawesome.com/fa98a09714.js" crossorigin="anonymous"></script>
    <title>KODIAR</title>
</head>
<body> 
    <header class="container">
        <div class="container_hero">
            <div class="title">Kodiar</div>
        <div class="navegate">
            <nav class="nav_link">
                <ul class="list">
                    <li><a href="/login">INICIAR SESION</a></li>
                    <li><a href="/registro">REGISTRARSE</a></li>
                </ul>
            </nav>

        </div>
        </div>
    </header>
    
<body>
    <form class="login-box" action="/register" method="post">
        <h2 class="login-title">REGISTRATE</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input class="outline" type="text"name="nombre" placeholder="Usuario" />
        </div>
        <div class="input-field">
            <i class="fas fa-user"></i>
            <input class="outline" type="number"name="documento" placeholder="documento" />
          </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input class="outline" type="email" name="correo" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input class="outline" type="password" name="password" placeholder="Contraseña" />
        </div>
        <input class="login-button" type="submit" class="btn" value="REGISTRATE" />
      </form>
</body>
</html>