<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ther.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/fa98a09714.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Kodiar | ¿Quienes Somos?</title>
</head>
<body>


    <header class="clas-container ">
        <div class="max-w-7xl  flex m-auto justify-between items-center">
            <div class="">
                <nav class="">
                    <ul class="flex items-center">
                        <li class="mx-4  inline-block text-3xl font-bold text-blue-500">KODIAR</li>
                        <li><a href="/" class="my-4 mx-3 border-b inline-block text-lg hover:border-blue-400 hover:text-white duration-200 p-3 hover:bg-blue-400 hover: rounded">Inicio</a></li>
                        <li><a href="/contactanos" class="my-4 mx-3 border-b inline-block text-lg hover:border-blue-400 hover:text-white duration-200 p-3 hover:bg-blue-400 hover: rounded">Contactanos</a></li>
                        <li><a href="/nosotros" class="my-4 mx-3 border-b inline-block text-lg hover:border-blue-400 hover:text-white duration-200 p-3 hover:bg-blue-400 hover: rounded bg-blue-400  text-white ">¿Quienes Somos?</a></li>
                        <li><a href="/ayuda" class="my-4 mx-3 border-b inline-block text-lg hover:border-blue-400 hover:text-white duration-200 p-3 hover:bg-blue-400 hover: rounded">Ayuda</a></li>
                    </ul>
        </nav>
            </div>
            <div>
                <span><a href="/login" class="m-4 inline-block text-blue-500  rounded rounded-br-lg rounded-tl-lg text-lg p-1.5 duration-100 hover:text-blue-400">Iniciar Sesión</a></span>
                <span><a href="/registro" class="m-4 inline-block text-blue-500 border border font-medium hover:border-blue-500  rounded hover:text-blue-600 p-2 text-lg duration-100 hover:scale-105">Registrarse</a></span>
    
            </div>
        </div>
       </header>
       <main class="content-k max-w-7xl mx-auto my-12 ">

   <div class="contten-1 mk-kodiar">
    <div class="title">
        <h1 class="my-4 text-xl font-bold">¿Quienes Somos?</h1>
       </div>
        
       <div class="description">
       <article class="my-6">
        <p class="p">Kodiar, creada en 2022, es una aplicación dedicada a la prestacion de servicios de Admistración, soportada con infraestructura tecnica y tecnologica, capaz de brindar a nuestros usuarios calidad en la prestación de sus servicios.</p>
        <p class="p">A través de la prestación de nuestros servicios de Administración hemos logrado intoducir a las tiendas de la ciudad de Armenia a tener un manejo permanente de su inventario cuidadosamente para satisfacer las necesidades y expectativas de todos los miembros de esta comunidad, logrando asi consolidar y posicionar este servicio.</p>
       </article>
       </div>
    
       <div class="mision">
        <div class="title-3">
            <h2 class="my-4 text-xl font-bold">
                Nuestra Misión
                </h2>
           </div>
           <article>
            <p class="my-6">
                Crear un producto de software que responda, evolucione y potencie el negocio de nuestros clientes y sus oportunidades en el mercado, siempre basados en nuestros valores empresariales.Fortalecer la Industria del Software creando empleo y mejorando las capacidades de otras industrias.
            </p>
           </article>
       </div>
    
       <div class="vision">
        <h2 class="my-4 text-xl font-bold">Nuestra Visión</h2>
        
        <p>
            Identificarnos como uno de los mejores proyectos de Software Nacional con la confianza de las empresas con mayor crecimiento en rentas en las principales ciudades de Colombia.
        </p>
       </div>
    
        <div class="valores">
            <h2 class="my-4 text-xl font-bold">Nuestros Valores</h2>
            
            <p class="p">
            El compromiso, la ética y el profesionalismo en todas nuestras acciones.
            </p>
    
            <h2 class="t">El Equipo</h2>
                
            <p class="p">
            Kodiar es liderado por un grupo de  5 desarrolladores expertos en la creación de código limpio y eficiente capaces de realizar Pruebas y despliegue de programas y sistemas, que hacen que la existencia de Kodiar sea posible.
            </p>
        </div>
    </div>
    <div class="conten-2 flex justify-center items-center">
     <img src="/image/contactanos.jpg" alt="Kodiar" title="Kodiar">
    </div>    
       </main>

                
</body>
</html>