<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quienes Somos?</title>
</head>
<body>
    <h1>¿Quienes Somos?</h1>
    <p>Kodiar, creada en 2022, es una aplicación dedicada a la prestacion de servicios de Admistración,soportada con infraestructura tecnica y tecnologica, capaz de brindar a nuestros usuarios calidad en la prestación de sus servicios.</p>

    <p>A través de la prestación de nuestros servicios de Administración hemos logrado intoducir a las tiendas de la ciudad de Armenia a tener un manejo permanente de su inventario cuidadosamente para satisfacer las necesidades y expectativas de todos los miembors de esta comunidad,logrando asi consolidar y posicionar este servicio.</p>

    <h2>
    Nuestra Misión
    </h2>

    <p>
        Crear un producto de software que responda, evolucione y potencie el negocio de nuestros clientes y sus oportunidades en el mercado, siempre basados en nuestros valores empresariales.Fortalecer la Industria del Software creando empleo y mejorando las capacidades de otras industrias.
    </p>

    <h2>Nuestra Visión</h2>
    
        <p>
            Identificarnos como uno de los mejores proyectos de Software Nacional con la confianza de las empresas con mayor crecimiento en rentas en las principales ciudades de Colombia.
        </p>

        <h2>Nuestros Valores</h2>
        
            <p>
                El compromiso, la ética y el profesionalismo en todas nuestras acciones.
            </p>

            <h2>El Equipo</h2>
            
                <p>
                    Kodiar es liderado por un grupo de  5 desarrolladores expertos en la creación de código limpio y eficiente capaces de realizar Pruebas y despliegue de programas y sistemas ,que hacen que la existencia de Kodiar sea posible.
                </p>
            <img src="/image/somos" alt="">

                
</body>
</html>