@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:white;
    --secondary-color:rgb(61,68,73);
    --highlight-color:#1aa7f8;

    --dt-status-available-color:greenyellow;
    --dt-status-away-color:lightsalmon;
    --dt-status-offline-color:lightgray;

    --dt-padding:12px;
    --dt-padding-s:6px;
    --dt-padding-xs:2px;
    --color-text:#1aa7f8;

    --dt-border-radius:3px;

    --dt-background-color-container: #ffffff;
    --dt-border-color:var(--secondary-color);
    --dt-bg-color:var(--highlight-color);
    --dt-text-color:var(--primary-color);
    --dt-bg-active-button:var(--highlight-color);
    --dt-text-color-button:var(--primary-color);
    --dt-text-color-active-button:var(--primary-color);
    --dt-hover-cell-color:var(--highlight-color);
    --dt-even-row-color:var(--secondary-color);
    --dt-focus-color:var(--highlight-color);
    --dt-input-background-color:var(--secondary-color);
    --dt-input-color:var(--primary-color);
}
body{
    background: #f0f2f5;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.container{
    position: relative;
    background-color:rgba(255, 255, 255, 0.457);
    backdrop-filter: blur(2px);
    z-index: 200;
}

.container_hero{

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0.67rem;
}
.nav_link{
    display: flex;
    align-items: center;

}
.list{
    display:flex;
    align-items: center;

}
.list >li {
    list-style: none;
    margin-right: 1rem;
}
.list > li > a{
    text-decoration: none;
    position: relative;
    margin: 0.40rem 0.50em;
    padding: 0.50rem 0.70rem;
    color: var(--color-text);
}
.list > li > a.active{
    width: 100%;
    color: var(--color-text);
}
.list > li > a::before{
    
   background:var(--color-text);
   content: "";
   width: 0%;
   height: 0.187rem;
   border-radius: 2rem;
   bottom: 0;
   position: absolute;
   transition: all .2s ease-in;
  
}
.list > li > .agre_active::before{
    
    background:var(--color-text);
    content: "";
    width: 100%;
    height: 0.187rem;
    border-radius: 2rem;
    bottom: 0;
    position: absolute;
    transition: all .2s ease-in;
   
 }
.list > li > a:hover::before{
    width: 100%;
}
.container_hero{

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    
}
.notificacion{
  
    padding:2px;
    padding: 0.004;
    border-radius: 4rem;
    cursor: pointer;
    position: relative;
}
.notificacion::before{
    content:"3";
    background:red;
    padding: 1px 00.3rem;
    border-radius: 3rem;
    position: absolute;
    left: 1rem;
    top: -0.09rem;
    color: #fff;
    font-size: 13px;
    border: 1px solid #fff;
}
.notificacion i{

    color: #434444;
    font-size: 1.3rem;
    display: block;
    margin: 2px;
   
}
.material-icons{
    font-size:16px;
}

.datatable-container{

    max-width: 1200px;
    margin: 0 auto;
    margin-top: 4rem;
    box-shadow: 0px 16px 26px rgb(0 0 0 / 11%);
    padding: 15px;
    border-radius: 20px;
    
}
.option .options i{

    font-size: 1.30rem;
    background: red;
    padding: 0.40em;
    border-radius: 5px;
    color: #fff;
    
}
.option .options .op1{

    background: darkgreen;
}